html {
  font-size: 12px;
}

.form-label {
  font-weight: bold;
}

.col-form-label {
  font-weight: bold;
}

.bi {
  display: inline-block;
  vertical-align: -0.125em;
}

.EntityPage > .accordion > .accordion-item > .accordion-collapse.show {
  background-color: #f0f0f0;
}

.accordion-button[disabled]::after {
  background: none;
}

.modal {
  display: block !important;
}

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.PrettyValueModal .modal-body {
  max-height: calc(100vh - 140px);
  overflow: scroll;
}

.PrettyValueModal .modal-dialog {
  max-width: 95%;
}
