html {
  font-size: 12px;
}

.form-label {
  font-weight: bold;
}

.col-form-label {
  font-weight: bold;
}

.bi {
  display: inline-block;
  vertical-align: -0.125em;
}

.accordion-collapse.show {
  background-color: #f0f0f0;
}
